{%extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}
{% block content%}

{{block.super}}
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-11">
            {%for photo in photos%}
            <div class="card" style="width: 100%;">
                <img src="{{photo.image.url}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h1>{{photo.image_name}}</h1>
                    <p class="card-text">{{photo.image_caption}}</p>
                    <p>likes {{photo.likes}}</p>
                    <p>{{photo.pub_date}}</p>
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <a href="{%url 'newComment' photo.id%}"><i class="fa fa-comment-o"></i></a>
                    <i class="fa fa-send-o"></i>
                    <i class="fa fa-bookmark-o"></i>
                    <a href="{%url 'comments' photo.id%}"> view comments</a>
                </div>
            </div>
            {%endfor%}
        </div>
        <div class="col"></div>
    </div>
</div>

{%endblock%}